<% content_for :head do %>
    <style>
        td div {
            display: flex;
            justify-content: flex-end;
        }
        .row .float-right{
            float: right;
        }
        .font-weight-bold {
            font-weight: 700!important;
        }
    </style>
    <script>
        function calculaTotal() {
            inputs = document.querySelectorAll('input[type=number]');
            total = 0;
            Array.prototype.forEach.call (inputs, function (input) {
                if (input.attributes.price) {
                   total += input.attributes.price.value * input.value;
                } 
            } );
            valorTotal = document.getElementById('valor-total')
            inputTotal = document.getElementById('input-total')
            valorTotal.innerText = total.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
            inputTotal.value = total.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });
        }
    </script>
<% end %>

<h2>Produtos disponiveis</h2>
<div class="row">
    <div class="col-md-2 float-right">
      <%= button_to "< Cancelar", root_url, class: "btn btn-primary", form: { "method" => "get" } %>
    </div>
</div>
<br>

<%= form_for( @pedido ) do |form| %>
  <input type="hidden" name="total" id="input-total" value="">
  <table class="table table-hover">
    <thead>
      <tr>
      <th scope="col">Produto</th>
      <th scope="col">Descricao</th>
      <th scope="col">Preço Unitario</th>
      <th scope="col">Qnt em estoque</th>
      <th scope="col" width="115">Qnt Adquirida</th>
      </tr>
    </thead>
    <tbody>
      <% @produtos.each do |produto| %>
        <tr>
          <td><%= produto.nome %></td>
          <td><%= produto.descricao %></td>
          <td><%= produto.preco %></td>
          <td><%= produto.qnt %></td>
          <td>
            <% produto_comprado = @produtos_comprados.select { |i| i[0] == produto.id}[0] %>
            <% if produto_comprado %>
                <input type="number" name="produtos[<%= produto.id %>]" class="form-control" step="1" 
                    value="<%= produto_comprado[1] %>" price="<%= produto.preco %>" onchange="calculaTotal()">
            <% else %>
                <input type="number" name="produtos[<%= produto.id %>]" class="form-control" step="1" 
                    price="<%= produto.preco %>" onchange="calculaTotal()">
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <div class="row">
    <div class="col-md-2 float-right">
        <p class="font-weight-bold">Total R$ <span id="valor-total">0,00</span></p>
    </div>
  </div>

  <%= form.submit "Fechar pedido", class: "btn btn-primary mb-2 font-weight-bold" %>
  <%= link_to "Delete", "/pedidos/#{@pedido.id}", method: :delete, class: 'btn btn-danger',
    data: {confirm: "Deseja realmente excluir este pedido?  \nPedido: #{ @pedido.id }"}%>
<% end %>

<script>
    calculaTotal();
</script>