<% content_for :head do %>
    <style>
        td div {
            display: flex;
            justify-content: flex-end;
        }
        .row .float-right{
            float: right;
        }
        .flex {
          display: flex;
        }
    </style>
<% end %>

<h2>Produtos do Mercadinho</h2>
<div class="row">
    <div class="col-md-3 float-right flex">
      <%= button_to "Novo Produto", new_produto_url, class: "btn btn-primary", form: { "method" => "get" } %>&nbsp;

      <%= link_to "Exportar CSV", "/produtos/export.csv", class: 'btn btn-success'%>
    </div>
</div>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Produto</th>
      <th scope="col">Descricao</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Preço</th>
      <th scope="col" style="text-align: right;">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <th scope="row"><%= produto.id %></th>
        <td><%= produto.nome %></td>
        <td><%= produto.descricao %></td>
        <td><%= produto.qnt %></td>
        <td><%= number_to_currency(produto.preco, unit: "R$ ", separator: ",", delimiter: ".")  %></td>
        <td>
          <div>
          <%= button_to "Editar", edit_produto_path(produto.id), class:'btn btn-primary btn-sm', form: { "method" => "get" }%>&nbsp;
          
          <%= link_to "Excluir", "/produtos/#{produto.id}", method: :delete, class: 'btn btn-danger btn-sm',
            data: {confirm: "Deseja realmente excluir este produto?  \nProduto: #{ produto.nome }"}%>
          </div>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @produtos %>